*.pyc
*.pio/
*.vscode/
__pycache__/
*ICENS*
COPY*
*CONTRIBU*
AUTH*
*PATCH*
*.txt
!CMakeLists.txt
Change*
CHANGE*
README*
asf4/
nxp*/
docs/
doc/
/build
*/*/.travis*
../**/*README*
!./README.md
*.png
*.jpg
../**/CONTR*
